.workspace { display: grid; min-width: 830px; min-height: 590px; height: 100%; grid-template-columns: minmax(210px, 30fr) minmax(390px, 45fr) minmax(230px, 25fr); overflow: hidden; background: #080d13; }
@media (min-width: 2200px) { .workspace { grid-template-columns: minmax(270px, 30fr) minmax(560px, 45fr) minmax(300px, 25fr); } }
